In [8]:
import pandas as pd
import numpy as np

In [13]:
from datetime import datetime, timedelta

In [14]:
from faker import Faker

# Initialize Faker to generate synthetic data
fake = Faker()

# Generate sample data for 100 entries
n = 100
data = {
    "Patient ID": [f"PAT-{i:04d}" for i in range(1, n + 1)],
    "Patient First Name": [fake.first_name() for _ in range(n)],
    "Patient Last Name": [fake.last_name() for _ in range(n)],
    "Visit Date": [(datetime.now() - timedelta(days=np.random.randint(1, 365))).date() for _ in range(n)],
    "CPT Code": [np.random.choice(["99213", "99214", "99203", "99204", "99205"]) for _ in range(n)],  # Common CPT codes
    "Charge Amt": [round(np.random.uniform(100, 1000), 2) for _ in range(n)],  # Random charge amount between $100 and $1000
}

# Create DataFrame
df_healthcare = pd.DataFrame(data)

# Display the first few rows of the dataset to ensure it's created correctly
df_healthcare.head()

,Patient ID,Patient First Name,Patient Last Name,Visit Date,CPT Code,Charge Amt
0,PAT-0001,Amber,Figueroa,2024-01-11,99203,361.79
1,PAT-0002,Shannon,Kirby,2023-12-27,99204,119.24
2,PAT-0003,Craig,Williams,2023-10-20,99204,853.14
3,PAT-0004,Michael,Murphy,2023-05-28,99205,271.83
4,PAT-0005,Katherine,Martinez,2023-07-04,99203,797.62